---
// Importing necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import PrimaryCTA from "@components/ui/buttons/PrimaryCTA.astro";
import CardSmall from "@components/ui/cards/CardSmall.astro";
import CardWide from "@components/ui/cards/CardWide.astro";
import FeaturesStatsAlt from "@components/sections/features/FeaturesStatsAlt.astro";
import TestimonialsSectionAlt from "@components/sections/testimonials/TestimonialsSectionAlt.astro";

// Importing necessary functions from Astro
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { SITE } from "@data/constants";
//import { Icon } from "@astrojs/starlight/components";
import Icon from "@components/ui/icons/Icon.astro";

// Fetching all the product related content and sorting it by main.id
const product: CollectionEntry<"products">[] = (
  await getCollection("products")
).sort(
  (a: CollectionEntry<"products">, b: CollectionEntry<"products">) =>
    a.data.main.id - b.data.main.id,
);

// Define variables for page content
const title: string = "Productos";
const subTitle: string =
  "";

// Testimonial data that will be rendered in the component
/*const testimonials = [
  // First testimonial data
  {
    content:
      " \"Since switching to ScrewFast's hardware tools, the efficiency on our construction sites has skyrocketed. The durability of the hex bolts and precision of the machine screws are simply unmatched. It's refreshing to work with a company that truly understands the daily demands of the industry.\" ",
    author: "Jason Clark",
    role: "Site Foreman | TopBuild",
    avatarSrc:
      "https://images.unsplash.com/photo-1500648767791-00dcc994a43e?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
    avatarAlt: "Image Description",
  },
  // Second testimonial data
  {
    content:
      " \"As an interior designer, I'm always looking for high-quality materials and tools that help bring my visions to life. ScrewFast's mixed screws assortment has been a game-changer for my projects, providing the perfect blend of quality and variety. The outstanding customer support was just the cherry on top!\" ",
    author: "Maria Gonzalez",
    role: "Interior Designer | Creative Spaces",
    avatarSrc:
      "https://images.unsplash.com/photo-1544005313-94ddf0286df2?q=80&w=1376&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
    avatarAlt: "Image Description",
  },
  // Third testimonial data
  {
    content:
      " \"I’ve been a professional carpenter for over 15 years, and I can sincerely say that ScrewFast’s tap bolts and nuts are some of the best I've used. They grip like no other, and I have full confidence in every joint and fixture. Plus, the service is impeccable – they truly care about my project's success.\" ",
    author: "Richard Kim",
    role: "Master Carpenter | WoodWright",
    avatarSrc:
      "https://images.unsplash.com/photo-1474176857210-7287d38d27c6?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
    avatarAlt: "Image Description",
  },
];*/

const pageTitle: string = `Productos | ${SITE.title}`;

const imageClassSmall =
  "absolute inset-0 h-full w-full object-cover object-center transition duration-[600ms] ease-[cubic-bezier(0.45,0,0.55,1)] group-hover:scale-110"

  const imageClassWide =
  "absolute inset-0 h-full w-full object-cover object-center transition duration-[600ms] ease-[cubic-bezier(0.45,0,0.55,1)] group-hover:scale-110";
---

<MainLayout
  title={pageTitle}
>
  <div
    class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
  >
    <div class="mb-4 flex items-center justify-between gap-8 sm:mb-8 md:mb-12">
      <div class="flex items-center gap-12">
        <h1
          class="text-balance text-2xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 md:text-4xl md:leading-tight"
        >
          {title}
        </h1>
        {
          subTitle && (
            <p class="hidden max-w-screen-sm text-pretty text-neutral-600 dark:text-neutral-400 md:block">
              {subTitle}
            </p>
          )
        }
      </div>
      <!--PrimaryCTA title="Customer Stories" url="#testimonials" noArrow={true} /-->
    </div>
    <!--Displaying products in alternating styles. Alternative product gets different card styling.-->
    <!--Maps through all product entries and displays them with either CardSmall or CardWide based on their position.-->
    <!--section class="grid grid-cols-1 gap-4 sm:grid-cols-3 md:gap-6 xl:gap-8">
      {
        product.map((product, index) => {
          const position = index % 4;
          if (position === 0 || position === 3) {
            return <CardSmall product={product} />;
          } else {
            return <CardWide product={product} />;
          }
        })
      }
    </section-->


    <section class="grid grid-cols-1 gap-4 sm:grid-cols-3 md:gap-6 xl:gap-8">
      <!-- Card 1 -->
      <a
        href={"/products/persianas"}
        data-astro-prefetch
        class="group relative flex h-48 items-end overflow-hidden rounded-xl shadow-lg outline-none ring-zinc-500 focus-visible:ring dark:ring-zinc-200 dark:focus:outline-none md:h-80"
      >
        <img
          src="/src/assets/persiana-1.jpg"
          alt="Persianas"
          draggable={"false"}
          class={imageClassSmall}
        />
        <div class="pointer-events-none absolute inset-0 bg-gradient-to-t from-neutral-800 via-transparent to-transparent opacity-50">
        </div>
        <span
          class="relative mb-3 ml-4 inline-block text-sm font-bold text-neutral-50 transition duration-[600ms] ease-[cubic-bezier(0.45,0,0.55,1)] group-hover:scale-110 md:ml-5 md:text-lg"
        >
          Persianas <Icon name="openInNew" />
        </span>
      </a>
    
      <!-- Card 2 -->
      <a
        href={"/products/toldos"}
        data-astro-prefetch
        class="group relative flex h-48 items-end overflow-hidden rounded-lg shadow-xl outline-none ring-zinc-500 focus-visible:ring dark:ring-zinc-200 dark:focus:outline-none md:col-span-2 md:h-80"
      >
        <img
          src="/src/assets/toldo-vertical-1.jpg"
          alt="Toldo"
          draggable={"false"}
          class={imageClassWide}
        />
        <div class="pointer-events-none absolute inset-0 bg-gradient-to-t from-neutral-800 via-transparent to-transparent opacity-50">
        </div>
        <span
          class="relative mb-3 ml-4 inline-block text-sm font-bold text-neutral-50 transition duration-[600ms] ease-[cubic-bezier(0.45,0,0.55,1)] group-hover:scale-110 md:ml-5 md:text-lg"
        >
          Toldos <Icon name="openInNew" />
        </span>
      </a>
    
      <!-- Card 3 -->
      <a
        href={"/products/roller"}
        data-astro-prefetch
        class="group relative flex h-48 items-end overflow-hidden rounded-lg shadow-xl outline-none ring-zinc-500 focus-visible:ring dark:ring-zinc-200 dark:focus:outline-none md:col-span-2 md:h-80"
      >
        <img
          src="/src/assets/roller-1.jpg"
          alt="Roller"
          draggable={"false"}
          class={imageClassWide}
        />
        <div class="pointer-events-none absolute inset-0 bg-gradient-to-t from-neutral-800 via-transparent to-transparent opacity-50">
        </div>
        <span
          class="relative mb-3 ml-4 inline-block text-sm font-bold text-neutral-50 transition duration-[600ms] ease-[cubic-bezier(0.45,0,0.55,1)] group-hover:scale-110 md:ml-5 md:text-lg"
        >
          Roller <Icon name="openInNew" />
        </span>
      </a>
    
      <!-- Card 4 -->
      <a
        href={"/products/cortinas"}
        data-astro-prefetch
        class="group relative flex h-48 items-end overflow-hidden rounded-xl shadow-lg outline-none ring-zinc-500 focus-visible:ring dark:ring-zinc-200 dark:focus:outline-none md:h-80"
      >
        <img
          src="/src/assets/cortina-1.jpg"
          alt="Cortina"
          draggable={"false"}
          class={imageClassSmall}
          
        />
        <div class="pointer-events-none absolute inset-0 bg-gradient-to-t from-neutral-800 via-transparent to-transparent opacity-50">
        </div>
        <span
          class="relative mb-3 ml-4 inline-block text-sm font-bold text-neutral-50 transition duration-[600ms] ease-[cubic-bezier(0.45,0,0.55,1)] group-hover:scale-110 md:ml-5 md:text-lg"
        >
          Cortinas Metálicas <Icon name="openInNew" />
        </span>
      </a>
      <!-- Card 5 -->
      <a
        href={"/products/mosquiteros"}
        data-astro-prefetch
        class="group relative flex h-48 items-end overflow-hidden rounded-xl shadow-lg outline-none ring-zinc-500 focus-visible:ring dark:ring-zinc-200 dark:focus:outline-none md:h-80"
      >
        <img
          src="/src/assets/mosquitero-1.jpg"
          alt="Mosquitero"
          draggable={"false"}
          class={imageClassSmall}
        />
        <div class="pointer-events-none absolute inset-0 bg-gradient-to-t from-neutral-800 via-transparent to-transparent opacity-50">
        </div>
        <span
          class="relative mb-3 ml-4 inline-block text-sm font-bold text-neutral-50 transition duration-[600ms] ease-[cubic-bezier(0.45,0,0.55,1)] group-hover:scale-110 md:ml-5 md:text-lg"
        >
          Mosquiteros <Icon name="openInNew" />
        </span>
      </a>

      <!-- Card 6 -->
      <a
        href={"/products/cierres"}
        data-astro-prefetch
        class="group relative flex h-48 items-end overflow-hidden rounded-lg shadow-xl outline-none ring-zinc-500 focus-visible:ring dark:ring-zinc-200 dark:focus:outline-none md:col-span-2 md:h-80"
      >
        <img
          src="/src/assets/cierre-2.jpg"
          alt="Cierre"
          draggable={"false"}
          class={imageClassWide}
        />
        <div class="pointer-events-none absolute inset-0 bg-gradient-to-t from-neutral-800 via-transparent to-transparent opacity-50">
        </div>
        <span
          class="relative mb-3 ml-4 inline-block text-sm font-bold text-neutral-50 transition duration-[600ms] ease-[cubic-bezier(0.45,0,0.55,1)] group-hover:scale-110 md:ml-5 md:text-lg"
        >
          Cierres de Cristal <Icon name="openInNew" />
        </span>
      </a>

      <!-- Card 7 -->
      <a
        href={"/products/climatika"}
        data-astro-prefetch
        class="group relative flex h-48 items-end overflow-hidden rounded-xl shadow-lg outline-none ring-zinc-500 focus-visible:ring dark:ring-zinc-200 dark:focus:outline-none md:h-80"
      >
        <img
          src="/src/assets/climatika-1.jpeg"
          alt="Climatika"
          draggable={"false"}
          class={imageClassSmall}
        />
        <div class="pointer-events-none absolute inset-0 bg-gradient-to-t from-neutral-800 via-transparent to-transparent opacity-50">
        </div>
        <span
          class="relative mb-3 ml-4 inline-block text-sm font-bold text-neutral-50 transition duration-[600ms] ease-[cubic-bezier(0.45,0,0.55,1)] group-hover:scale-110 md:ml-5 md:text-lg"
        >
          Climatika <Icon name="openInNew" />
        </span>
      </a>

      <!-- Card 8 -->
      <a
        href={"/products/laminas"}
        data-astro-prefetch
        class="group relative flex h-48 items-end overflow-hidden rounded-lg shadow-xl outline-none ring-zinc-500 focus-visible:ring dark:ring-zinc-200 dark:focus:outline-none md:col-span-2 md:h-80"
      >
        <img
          src="/src/assets/lamina-1.jpg"
          alt="Lamina"
          draggable={"false"}
          class={imageClassWide}
        />
        <div class="pointer-events-none absolute inset-0 bg-gradient-to-t from-neutral-800 via-transparent to-transparent opacity-50">
        </div>
        <span
          class="relative mb-3 ml-4 inline-block text-sm font-bold text-neutral-50 transition duration-[600ms] ease-[cubic-bezier(0.45,0,0.55,1)] group-hover:scale-110 md:ml-5 md:text-lg"
        >
          Lámina de Seguridad <Icon name="openInNew" />
        </span>
      </a>
    </section>



  </div>
  <!--Features statistics section-->
  <FeaturesStatsAlt
    title="Por qué escoger Mallorca Hogar?"
    subTitle="Con más de 12 años de experiencia, nos especializamos en ofrecer soluciones que transforman su hogar u oficina. Nuestros productos de alta calidad están diseñados para mejorar la seguridad, el confort y la estética de sus espacios."
    benefits={[
      "Desde persianas hasta cortinas metálicas, nuestros productos garantizan una máxima protección para su hogar o negocio.",
      "Mejoramos el aislamiento térmico y acústico para ayudarle a ahorrar en energía.",
      "Disponemos de una amplia gama de colores y estilos que se adaptan a cualquier decoración, realzando la belleza de su entorno.",
    ]}
  />
  <!--Testimonials section-->
  <!--TestimonialsSectionAlt
    title="What Our Customers Say"
    testimonials={testimonials}
  /-->
</MainLayout>
